@font-face {
  font-family: "Chopin";
  src: url("../font/Chopin-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("../font/ppneuemontreal-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Azbuka";
  src: url("../font/Azbuka.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Caslon";
  src: url("../font/Caslo-an.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}