$color-text: #332d25;
$color-accent: #8a1b0e;
$color-accent-hover: #6e1509;
$color-accent-active: #5c1e16;
$color-cream: #f6f1e4;

$font-chopin: "Chopin", serif;
$font-body: "NeueMontreal", sans-serif;
$font-azbuka: "Azbuka";
$font-caslon: "Caslon", sans-serif;
